/* Root Colors */
:root {
  --page-bg: rgb(2, 150, 100); 
  --header-bg: rgb(253, 233, 206); 
  --nav-bg: rgb(253, 233, 206);
  --accent: rgb(230, 44, 49); 
  --accent-hover-text: rgb(0, 117, 73); 
  --text-color: rgb(253, 233, 206);
  --black: #000000;
  --off-white: rgb(253, 233, 206);
}

body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--page-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  
  .registration {
    background-color: var(--nav-bg);
    padding: 2rem;
    border-radius: 12px;
    width: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .error {
    color: var(--accent);
    font-size: 12pt;
    margin-bottom: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input_area {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  .icon {
    width: 40px;
    height: 35px;
    background-color: var(--accent);
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  input {
    padding: 10px;
    border: 1px solid var(--accent);
    border-radius: 5px;
    width: calc(100% - 50px);
    outline: none;
  }
  
  input[type="submit"] {
    background-color: var(--accent);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: var(--header-bg);
    color: var(--text-color);
  }
  
  .center {
    text-align: center;
  }
  
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  a {
    color: var(--accent);
    text-decoration: none;
    transition: color 0.3s ease;
  }

  a:hover {
    color: var(--page-bg);
    text-decoration: underline;
  }
