/* Root Colors */
:root {
  --page-bg: rgb(2, 150, 100); 
  --header-bg: rgb(110, 21, 17); 
  --nav-bg: rgb(2, 150, 100);
  --accent: rgb(230, 44, 49); 
  --accent-hover-text: rgb(0, 117, 73); 
  --text-color: rgb(253, 233, 206);
  --black: #000000;
  --off-white: rgb(253, 233, 206);
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--page-bg);
  color: var(--text-color);
}

header {
  background-color: var(--header-bg);
  color: var(--text-color);
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: var(--nav-bg);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: var(--accent);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: var(--header-bg);
}

section {
  background-color: var(--nav-bg);
  padding: 2rem;
  margin: 1rem auto;
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: var(--accent);
  text-align: center;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

footer {
  background-color: var(--header-bg);
  color: var(--text-color);
  text-align: center;
  padding: 0.5rem;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

a {
  color: var(--accent);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-hover-text);
  background-color: var(--accent);
}
